/* CartItem */

.cart-item-container {
  color: #68707d;
  padding: 0px 1.4rem;
}

.cart-item-information {
  display: flex;
}

.cart-item-image {
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.cart-item-text {
  line-height: 1.5rem;
  font-size: 1rem;
}

.item-quantity {
  margin-left: 0.5rem;
}

.total {
  font-weight: bold;
  margin-left: 0.5rem;
}

.delete-btn {
  align-self: center;
  border: none;
}

.delete-btn img {
  height: 1rem;
}

.checkout-btn {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  color: white;
  background: #ff7d1a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 4rem;
}
