/* CartItem */

.cart-item-container {
  color: #68707d;
  padding: 28px;
}

.cart-item-information {
  display: flex;
}

.cart-item-image {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 18px;
}

.cart-item-text {
  line-height: 25px;
  font-size: 1.6rem;
}

.item-quantity {
  margin-left: 5px;
}

.total {
  font-weight: bold;
  margin-left: 5px;
}

.delete-btn {
  align-self: center;
  border: none;
}

.delete-btn img {
  height: 1.8rem;
}

.checkout-btn {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background: #ff7d1a;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 100%;
  height: 60px;
}
