/* Cart */

.cart-container {
  position: absolute;
  top: 9%;
  right: 4%;
  height: 32%;
  width: 92%;
  max-width: 370px;
  border: black 1px solid;
  border-radius: 10px;
  background-color: #fff;
  z-index: 3;
}

.cart-title {
  font-size: 1rem;
  padding: 1.2rem 0 1.5rem 1.3rem;
  border-bottom: 1px solid #b6bcc8;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74%;
}

.cart-text {
  font-size: 1rem;
  font-weight: bold;
  color: hsl(219, 9%, 45%);
  padding: 5rem;
}
