/* 
============================================================================
=================================Header=================================================================================================================
*/

.header {
  margin-top: 1.3rem;
}

nav.header-nav-container {
  padding: 0 1.5rem 1.1rem 1.5rem;
  gap: 1.6rem;
  align-items: center;
}

.inner-nav-container {
  margin-right: auto;
}

.nav-content {
  display: flex;
  align-items: baseline;
  gap: 1.6rem;
}

.header-menu-icon {
  height: auto;
  width: 1rem;
}

.header-company-logo {
  width: 8rem;
  height: auto;
}

div .avatar-header-container {
  gap: 1.5rem;
  align-items: baseline;
}

.header-menu-cart {
  width: 1.4rem;
  height: auto;
}

.cart-img-container {
  position: relative;
}

.header-cart-quantity {
  position: absolute;
  border-radius: 50%;
  background-color: #ff7d1a;
  color: #fff;
  padding: 0.1rem 0.5rem;
  pointer-events: none;
  left: 0.8rem;
  bottom: 1.1rem;
  font-size: 0.6rem;
}

div .logo-img-container {
  height: 100%;
}

img.header-avatar {
  height: auto;
  width: 1.5rem;
}

img.header-avatar:hover {
  border: 0.2rem solid #ff7d1a;
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;
}
