/* Carousel */

.carousel {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.carousel-arrow {
  height: 0.9rem;
}

.carousel-arrow-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  z-index: 1;
}

.carousel-previous {
  left: 5%;
}

.carousel-next {
  right: 5%;
}

.carousel-image-container {
  position: relative;
  width: 100vw;
  height: 19rem;
  max-height: 23rem;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}
