* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.App {
  width: 100%;
  height: 100%;
}

/* 
============================================================================
=================================Backdrop=================================================================================================================
*/
.backdrop {
  position: fixed;
  z-index: 1;
  background-color: #000000bf;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
/* 
============================================================================
=================================Header=================================================================================================================
*/

/* 
============================================================================
=================================Header=================================================================================================================
*/

.header {
  display: flex;
  align-items: center;
  padding: 20px 25px 20px 25px;
  height: 68px;
  border: 1px solid black;
}

.header-menu-icon {
  margin-right: 15px;
}

.header-company-logo {
  margin-right: auto;
}

.header-avatar {
  height: 100%;
  margin-left: 20px;
}

/* 
============================================================================
=================================Header=================================================================================================================
*/

/* 
============================================================================
===================================Cart=================================================================================================================
*/

.cart-container {
  position: absolute;
  top: 12%;
  left: 5%;
  height: 36vh;
  width: 90%;
  border: black 1px solid;
  border-radius: 10px;
  background-color: #fff;
  z-index: 2;
}

.cart-title {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #b6bcc8;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 65px 0 50px 0;
}

.cart-text {
  font-weight: bold;
  color: hsl(219, 9%, 45%);
}
/* 
============================================================================
===================================Cart=================================================================================================================
*/

/* 
============================================================================
===================================Carousel=============================================================================================================
*/

.product {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.company-name {
  color: #ff7d1a;
  letter-spacing: 1.5px;
  font-size: 13px;
  text-transform: uppercase;
}

.product-name {
  font-size: 28px;
  margin-top: 11px;
  letter-spacing: 1px;
}

.product-description {
  margin-top: 14px;
  line-height: 1.4;
  color: hsl(219, 9%, 45%);
}

.product-price-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.product-price {
  font-size: 28px;
  font-weight: bold;
  margin-right: 15px;
}

.product-discount {
  padding: 3px 9px;
  color: #ff7d1a;
  font-weight: bold;
  background: #ffede0;
  border-radius: 6px;
  margin-right: auto;
  font-size: 15px;
}

.original-price {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-size: 15px;
  font-weight: bold;
}

.product-btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(223, 64%, 98%);
  padding: 15px;
  border-radius: 10px;
  margin-top: 25px;
}

.count-btn {
  border: none;
  background: hsl(223, 64%, 98%);
  cursor: pointer;
}

.product-count {
  font-weight: bold;
}

.add-to-cart-btn {
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
  background: #ff7d1a;
  font-size: 15px;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 19px #ffede0;
}

.add-to-cart-btn img {
  margin-right: 15px;
}

/* 
============================================================================
================================MainContent=============================================================================================================
*/

/* 
============================================================================
===================================Carousel=============================================================================================================
*/

.carousel {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-arrow-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  z-index: 1;
}

.carousel-previous {
  left: 5%;
}

.carousel-next {
  right: 5%;
}

.carousel-image-container {
  position: relative;
  width: 100vw;
  height: 295px;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

/* 
============================================================================
===================================Carousel=============================================================================================================
*/
