.product-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.563rem;
  width: 30rem;
}

.main-img {
  max-width: 27.813rem;
  height: 27.813rem;
  border-radius: 15px;
}

.thumnail-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  height: 6.5rem;
  list-style: none;
}

.thumbnail-img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 10px;
}

/* .thumbnail-img: {
  opacity: 0.5;
  outline: 2px solid color: #ff7d1a;

} */
