/* Main Content */

.product {
  display: flex;
  flex-direction: column;
  padding: 1.563rem;
}

.company-name {
  color: #ff7d1a;
  letter-spacing: 0.15rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.product-name {
  font-size: 1.7rem;
  margin-top: 0.9rem;
  letter-spacing: 0.07rem;
}

.product-description {
  font-size: 0.875rem;
  margin-top: 0.875rem;
  line-height: 1.7;
  color: #68707d;
}

.product-price-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.product-price {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 1.6rem;
}

.product-discount {
  padding: 0.3rem 0.6rem;
  color: #ff7d1a;
  font-weight: bold;
  background: #ffede0;
  border-radius: 0.4rem;
  margin-right: auto;
  font-size: 1rem;
}

.original-price {
  color: #b6bcc8;
  text-decoration: line-through;
  font-size: 1rem;
  font-weight: bold;
}

.product-btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(223, 64%, 98%);
  padding: 1.17rem 1.3rem;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.count-btn {
  border: none;
  background: hsl(223, 64%, 98%);
}

.product-count {
  font-size: 1rem;
  font-weight: bold;
}

.add-to-cart-btn {
  width: 100%;
  padding: 1.17rem 1.3rem;
  border-radius: 10px;
  margin-top: 1.2rem;
  color: white;
  background: #ff7d1a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 19px #ffede0;
}

.add-to-cart-btn img {
  height: 1rem;
  margin-right: 15px;
}
