/* Main Content */

.product {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.company-name {
  color: #ff7d1a;
  letter-spacing: 0.15rem;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.product-name {
  font-size: 2.8rem;
  margin-top: 1.1rem;
  letter-spacing: 0.1rem;
}

.product-description {
  font-size: 1.4rem;
  margin-top: 14px;
  line-height: 1.4;
  color: hsl(219, 9%, 45%);
}

.product-price-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.product-price {
  font-size: 2.8rem;
  font-weight: bold;
  margin-right: 1.5rem;
}

.product-discount {
  padding: 0.3rem 0.9rem;
  color: #ff7d1a;
  font-weight: bold;
  background: #ffede0;
  border-radius: 0.6rem;
  margin-right: auto;
  font-size: 1.5rem;
}

.original-price {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
  font-size: 1.5rem;
  font-weight: bold;
}

.product-btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(223, 64%, 98%);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 2.5rem;
}

.count-btn {
  border: none;
  background: hsl(223, 64%, 98%);
}

.product-count {
  font-size: 1.8rem;
  font-weight: bold;
}

.add-to-cart-btn {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  color: white;
  background: #ff7d1a;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 20px 19px #ffede0;
}

.add-to-cart-btn img {
  height: 2rem;
  margin-right: 15px;
}
